/************************************************
Redbasic Scheme for Fanzilla by vamp@hub.vamp.ink

12-90 based on blue-fix
for oulfis@oulfis.space
"12 year old rich girl, or 90 year old grandma? who can say!"

colours:
#FFD9DF
#B3626F
#4D8B8C
grey
#DAE5E6

Image: https://pixabay.com/illustrations/scrapbook-side-lace-tag-element-1971412/
       https://pixabay.com/illustrations/digital-papers-pink-floral-pattern-4290621/
************************************************/

.theme-green .back-bar .selected-bar {
    background-color: grey !important;
}

code {
    background-color: white;
}

/* UPPING THE FONT SIZE BECAUSE REDBASIC FONT IS TEENY AF */
body {
    font-size: medium;
    background-color: #DAE5E6;
    background-image: url('../img/doily.png');
    background-position: right top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  color: #B3626F;
    font-weight: normal;
    font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

.wall-item-content,
.mail-conv-body,
.page-body,
.chat-item-text,
.chat-item-text-self {
    font-size: 1em;
}

/* CUSTOM PAGE ELEMENTS */
.bg-dark {
    background-color: #FFD9DF !important;
    color: grey;
    box-shadow: 0 2px 2px #666;
}

/*navbar*/

.navbar .fakelink,
.navbar a {
    color: grey !important;
}

.widget,
.vcard {
    background-color: rgba(255,255,255,.5);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.5rem;
}

#region_3 .widget,
#region_3 .widget a {
    color: #555;
}

.generic-content-wrapper,
.wall-item-content-wrapper {
    background-color: rgba(255,255,255,.5);
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.wall-item-comment-wrapper,
.wall-item-outside-wrapper {
}

.hide-comments-outer,
.thread-wrapper,
.comment {
}


/* BUTTON/FORM ONCLICK BORDER */
.btn-primary.focus,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus,
.form-control:focus {
    box-shadow: 0 0 0 .2rem rgba(128, 128, 128, .5);
    border-color: #808080;
}

/* THIRD PARTY TAG */
.badge.badge-pill.badge-info {
    background-color: #FFD9DF;
    border: 1px solid rgba(0,0,0,.2);
    color: grey !important;
}

.badge.badge-pill.badge-info a {
    color: grey !important;
}

/* POST CATEGORY */
.item-category.badge.badge-pill.badge-warning {
    background-color: #FFD9DF;
    border: 1px solid rgba(0,0,0,.2);
}

/* LOCATION/FAKE MOOD/FAKE WHISPERSPACE */
.wall-item-location.p-location {
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
}

/* LINK, FAKELINK */
.fakelink,
a:link {
    color: #4D8B8C;
    text-decoration: none;
}

a:visited {
  color: #4D8B8C;
}

.fakelink:hover,
a:hover,
a:active {
    color: #4D8B8C;
    text-decoration: underline;
}

.dropdown-item.active {
    background-color: #FFD9DF !important;
}

.wall-item-head-new {
    border-top: 0.2rem solid #FFD9DF !important;
}

.nav-link.active {
    background-color: #FFD9DF !important;
    color: grey !important;
    border: 1px solid rgba(0,0,0,.2);
}

.nav-link.active a {
    color: grey !important;
}

.nav-item:hover {
    text-decoration: underline;
}

.form-group.checkbox > div > input:checked + label .onoffswitch-switch {
    background-color: grey !important;
}

.switchlabel:hover {
    border-color: grey !important;
}

.form-group.checkbox:hover label {
    color: grey !important;
    border-color: grey !important;
}

.app-detail .app-icon,
.ivoted {
    text-shadow: none;
    color: grey;
}

.bg-primary {
    background-color: #FFD9DF !important;
    color: grey !important;
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.bg-primary a {
    color: grey !important;
}

.btn-primary {
    background-color: grey !important;
    border-color: grey !important;
    color: white !important;
}

.btn-danger,
.btn-success {
    color: white !important;
}

.btn-warning {
    color: black !important;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active {
    background-color: #FFD9DF !important;
    color: grey;
}

.item-highlight {
    border-left: 0.2rem solid grey;
}

.wall-event-item {
    background-color: grey;
}
