/************************************************
Redbasic Scheme for Fanzilla by vamp@hub.vamp.ink

blue-fix is essentially a template scheme based 
on the redbasic default that removes the garish 
blue and replaces it with 'grey' for easy accent
colour search and replace.

blue-fix also ups the default font-size and adds
styling to the 'location' post field that it can
be used for mood or whisperspace as used on DW
or tumblr
************************************************/


/* UPPING THE FONT SIZE BECAUSE REDBASIC FONT IS TEENY AF */
body {
font-size: medium;
}
.wall-item-content, .mail-conv-body, .page-body, .chat-item-text, .chat-item-text-self {
    font-size: 1em;
}

/* CUSTOM PAGE ELEMENTS */
.bg-dark {} /*navbar*/

.widget,
.vcard {}

.generic-content-wrapper,
.wall-item-content-wrapper {
}

.wall-item-comment-wrapper,
.wall-item-outside-wrapper {
}

.hide-comments-outer,
.thread-wrapper,
.comment {
}


/* BUTTON/FORM ONCLICK BORDER */
.btn-primary.focus,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus,
.form-control:focus {
 box-shadow:0 0 0 .2rem rgba(128,128,128,.5);
 border-color: #808080;
}

/* THIRD PARTY TAG */
.badge.badge-pill.badge-info {
  background-color: grey;
}

/* POST CATEGORY */
.item-category.badge.badge-pill.badge-warning {
  background-color: #bbb;
}

/* LOCATION/FAKE MOOD/FAKE WHISPERSPACE */
.wall-item-location.p-location {
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
}

/* LINK, FAKELINK */
.fakelink,
a:link,
a:visited {
  color: grey;
    text-decoration: none;
}

.fakelink:hover,
a:hover,
a:active {
  color: grey;
    text-decoration: underline;
}

.dropdown-item.active {
	background-color: grey !important;
}

.wall-item-head-new {
	border-top: 0.2rem solid grey !important;
}

.nav-link.active {
    background-color: grey !important;
}

.nav-item:hover {
    text-decoration: underline;
}

.form-group.checkbox > div > input:checked + label .onoffswitch-switch {
    background-color: grey !important;
}

.switchlabel:hover {
    border-color: grey !important;
}

.form-group.checkbox:hover label {
    color: grey !important;
    border-color: grey !important;
}

.app-detail .app-icon,
.ivoted {
    text-shadow: none;
    color: grey;
}

.bg-primary {
    background-color: grey !important;
}

.btn-primary {
    background-color: grey !important;
    border-color: grey !important;
    color: white !important;
}

.btn-danger,
.btn-success {
    color: white !important;
}

.btn-warning {
color: black !important;
}

.btn-outline-secondary a:hover {
    color: white !important;
}

.item-highlight {
    border-left: 0.2rem solid grey;
}

.wall-event-item {
    background-color: grey;
}
