/* BLUE FIX */

.dropdown-item.active {
	background-color: red !important;
}

.wall-item-head-new {
	border-top: 3px solid red !important;
  border-radius: 0 !important;
}


.nav-link.active {
    color: red !important;
}

.form-group.checkbox > div > input:checked + label .onoffswitch-switch {
    background-color: red !important;
}

.switchlabel:hover {
    border-color: red !important;
}

.form-group.checkbox:hover label {
    color: red !important;
    border-color: red !important;
}

.app-detail .app-icon {
    text-shadow: none;
    color: red;
}

.bg-primary {
    background-color: red !important;
}

.btn-primary {
    background-color: red !important;
    border-color: red !important;
}

.fakelink,
a:link,
a:visited {
  color: red;
    text-transform: uppercase;
}

.fakelink:hover,
a:hover,
a:active {
    color: grey;
    text-decoration: underline solid red;
    cursor: crosshair;
}

/* EVERYTHING ELSE */

body {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
  margin: 1em 0;
}

/*navbar*/
.bg-dark,
.section-title-wrapper,
.p-2.bg-primary {
    background-color: black !important;
  color: white;
  border: 0;
}

#profile-jot-wrapper,
.widget,
.vcard,
.generic-content-wrapper {
  border: 3px solid black;
  border-radius: 0;
  box-shadow: 3px 3px black;
}

#profile-jot-wrapper {
    transform: rotate(.5deg);
}

.vcard {
    transform: rotate(-1deg);
}

.wall-item-content-wrapper {
  background-color: white;
  color: black;
}

.wall-item-content-wrapper li {
  list-style-type: square;
}

.wall-item-content-wrapper.comment,
.wall-item-comment-wrapper-wc {
  background-color: #E6E2DE;
  color: black;
}

.wall-item-outside-wrapper.comment {
    border-top: 1px dashed #E6E2DE;
}

.section-title-wrapper,
.rounded-top {
  border-radius: 0 !important;
}

.btn-danger,
.btn-primary {
  color: white !important;
    font-weight: bold;
}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 0;
    box-shadow: 3px 3px black;
}

.badge-warning {
    color: white !important;
    background-color: red;
}

.badge-warning a {
    color: white !important;
}

.badge-info {
  background-color: #808080;
}

.wall-item-location {
  font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
}

.app-container {
    margin: 20px;
}

.nav-pills .nav-link.active {
    background-color: lightgrey;
}

.nav-pills .nav-link.active:hover {
    color: dimgrey !important;
}