/************************************************
Redbasic Scheme for Fanzilla by vamp@hub.vamp.ink

mastalike is a theme based on the default colours
used by the Mastodon project.
************************************************/


/* UPPING THE FONT SIZE BECAUSE REDBASIC FONT IS TEENY AF */
body {
font-size: medium;
}
.wall-item-content, .mail-conv-body, .page-body, .chat-item-text, .chat-item-text-self {
    font-size: 1em;
}

/* CUSTOM PAGE ELEMENTS */
.bg-dark {} /*navbar*/

.vcard, #contact-block, .widget {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #282C37;
	border-radius: 0px
}

.generic-content-wrapper,
.wall-item-content-wrapper {
	background-color: #282C37;
}

.hide-comments-outer {}
.thread-wrapper {}
.wall-item-comment-wrapper {}

.fn,
.app-icon {
    color: #fff;
}

/* BUTTON/FORM ONCLICK BORDER */
.btn-primary.focus,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus,
.form-control:focus {
 box-shadow:0 0 0 .2rem rgba(34,34,34,.5);
 border-color: #191B22;
}

/* THIRD PARTY TAG */
.badge.badge-pill.badge-info {
  background-color: #2B90D9;
  color: black !important;
border: 1px solid #191B22;
}
.badge.badge-pill.badge-info a {color: black !important;}

/* POST CATEGORY */
.item-category.badge.badge-pill.badge-warning {
  background-color: #313543;
  color: white !important;
border: 1px solid #191B22;
}
.item-category.badge.badge-pill.badge-warning a {color: white !important;}

/* LOCATION/FAKE MOOD/FAKE WHISPERSPACE */
.wall-item-location.p-location {
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
}

/************************/

/* fix color for highlithed text */
span.default-highlight {
	color: #282C37;
	border-radius: 4px;
}

/* blue fix */

.dropdown-item.active {
	background-color: #2B90D9 !important;
}

.wall-item-head-new {
	border-top: 0.2rem solid #2B90D9 !important;
}

.item-highlight {
    border-left: 0.2rem solid #2B90D9 !important;
}

.nav-link.active {
    background-color: #2B90D9 !important;
}

.form-group.checkbox > div > input:checked + label .onoffswitch-switch {
    background-color: #2B90D9 !important;
}

.app-detail .app-icon {
    text-shadow: none;
}

.bg-primary {
    background-color: #2B90D9 !important;
}

.wall-event-item {
    background-color: #2B90D9;
}

/****************************/

textarea, input, select, .bootstrap-tagsinput {
  color: #fff !important;
  background: #313543 !important;
  border-color: #2B2B2B !important;
 }

#profile-jot-submit-wrapper {
	border-top: none;
	padding: 10px 0;
}

#jot-title {
	border-radius: 3px;
}

#jot-title-wrap {
	border-bottom: none;
	margin-bottom: 5px;
}

#jot-category-wrap {
	border-bottom: none;
	margin-bottom: 5px;
}

optgroup {
	color: #CCC !important;
}

option {
	color: $link_colour !important;
}



#profile-photo-wrapper {
	border: none;
}

#profile-edit-default-desc {
	background-color: #665029;
	color: #FFF;
	padding: 20px;
}

.photo {
	box-shadow: none;
}

.abook-pending-contact, .abook-permschange {
	background: #402900;
}

.contact-entry-wrapper {
	border: 1px solid #282C37;
}

#cboxContent a {
	color: #000;
}

#cboxContent {
	color: #111;
}

#adminpage table tr:hover {
    background-color: #191B22;
}

#colorbox {
	border: 0px solid #313543;
	background-color: #313543;
}

.chat-item-text {
	background-color: #191B22;
}

.fc-state-highlight {
    background: none repeat scroll 0% 0% #282C37 !important;
}

.well {
	background-color: #313543;
	border: 1px solid #191B22;
	background-image: linear-gradient(to bottom, #313543 0px, #313543 100%);
}

.alert-info, .section-content-info-wrapper {
	color: #CCC;
	background-color:#282C37;
	border-color: #313543;
	background-image: linear-gradient(to bottom, #282C37 0px, #282C37 100%);
}

.abook-self {
	background-color: #251111;
}

.acl-button-show,
.acl-button-hide {
	color: #fff;
}

#acl-select {
	background-color:#282C37;
	border: 1px solid #313543;
	color: #FFF;
}

#acl-showall {
	color: #FFF;
}


#acl-list {
	border: 1px solid #313543;
}

#acl-search-wrapper {
	border-bottom: 1px solid #313543;
}

.acl-list-item {
	border: 1px solid #191B22;
	color: #CCC;
	background-color:#282C37;
}

.abook-self {
	border: 1px solid #191B22;
	color: #313543;
	background-color:#111;
}

.modal-content,
#notifications_wrapper {
    background-color: #111;
}

.dropdown-header.text-black-50,
.nav-link.active {
	color:#fff !important;
}

a.btn, aside a {
	font-weight: 400 !important;
}

.btn {
	background-color: #313543;
	border-color: #191B22;
	color: #ccc;
	text-shadow: none;
	box-shadow: none;
}

.btn:hover, .btn:focus, .btn:active {
	background-color: #191B22;
	border-color: #191B22;
	color: #fff;
	text-decoration: underline;
}

.btn-default.btn-sm:hover, .btn-default.btn-sm:focus, .btn-default.btn-sm:active .btn-default.btn-sm.active {
	text-decoration: none;
}

.btn-primary, input#event-submit, input#rmagic-submit-button, input#lostpass-submit-button {
    background-color: #2B90D9;
    color: #FFF;
}

.btn-primary:hover, .btn-primary:focus, input#event-submit:hover, input#event-submit:focus, input#rmagic-submit-button:hover, input#rmagic-submit-button:focus, input#lostpass-submit-button:hover, input#lostpass-submit-button:focus {
    border-color: black;
    background-color: #2B90D9;
    color: #FFF;
}

.btn-success {
    color: #FFF !important;
    background-color: #5CB85C !important;
    border-color: #4CAE4C !important;
}

.btn-success:hover, .btn-success:focus {
    color: #FFF !important;
    background-color: #449D44 !important;
    border-color: #398439 !important;
}

.btn-warning {
    color: #FFF !important;
    background-color: #F0AD4E !important;
    border-color: #EEA236 !important;
}

.btn-warning:hover, .btn-warning:focus {
	color: #FFF !important;
	background-color: #EC971F !important;
	border-color: #D58512 !important;
}

.btn-danger, form#chat-destroy > input {
    background-color: #D9534F !important;
    border-color: #D43F3A !important;
	color: #FFF !important;
}
.btn-danger:hover, .btn-danger:focus, form#chat-destroy > input:hover, form#chat-destroy > input:focus {
	color: #FFF !important;
    background-color: #C9302C !important;
    border-color: #AC2925 !important;
}

.btn-primary:hover {
 border-color:#191B22
}


.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
 color:#fff;
 background-color:#2B90D9;
 border-color:#191B22;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #2B90D9;
    border-color: #191B22;
}

.pager_first,
.pager_last,
.pager_prev,
.pager_next,
.pager-prev,
.pager-next,
.pager_n {
	border: 1px solid #191B22;
	background: #313543;
}

input {
	border: 1px solid #191B22;
}

input[type="submit"] {
	background-color: #282C37;
	color: #fff;
}

.notify-seen a {
	background: #111;
	color: #191B22 !important;
}

.notify-seen a:hover {
	background: #191B22;
	color: #ccc !important;
}

nav .dropdown-menu>li>a{
	color: #fff;
}

nav .dropdown-menu>li>a:hover,nav .dropdown-menu>li>a:focus{
	color: #fff;
	background-color: #191B22;
	background-image: none;
}

nav .dropdown-menu .divider{
	background-color: #191B22;
}

nav .dropdown-menu>li>a:hover,nav .dropdown-menu>li>a:focus{
	color: #fff;
	background-color: #191B22;
	background-image: none;
}

nav .dropdown-menu {
	background-color: #000;
}

#nav-search-text {
	background-color: #999;
}

.autocomplete .selected {
	background: #999;
}

.nav-tabs {
	border-bottom:1px solid #282C37;
}

.nav-tabs .nav-link.active {
	color: #fff;
	background-color: #111;
	border-color: #282C37;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
	text-decoration: underline;
	background-color: #191B22;
	color: #ccc;
	border-color: #282C37;
}

aside .nav > li > a:hover, aside .nav > li > a:focus {
	text-decoration: underline;
	background-color: #191B22;
}

a, a:visited, a:link, .fakelink, .fakelink:visited, .fakelink:link {
	font-weight: bold;
}

.list-group-item {
	background-color: #191B22;
}

.text-dark {
	color: #aaa !important;
}

.group-selected, .fileas-selected, .categories-selected, .search-selected, a.active {
	color: #fff !important;
	text-decoration: underline !important;
}

.generic-content-wrapper-styled {
	background-color: rgba(28,28,28,0.8);
}

.autocomplete {
	background: #191B22;
}

blockquote {
	margin: 1em;
	font-size: 1em;
	font-style: normal;
	background-color: #313543;
}

.wall-item-content ul {
margin: 1em;
}

.wall-item-content li {
list-style-type: disc;
}

code {
	border: 1px solid #090909;
	background: #000;
	color: #fff;
}

pre {
	background: #000;
	color: #fff;
	border:1px solid #090909;
}

#wiki-content-container code {
	background: #000;
}

.notif-item a {
	color: #ccc;
}

.notif-item a:hover {
	color: #fff;
}

.dropdown-menu {
	background-color: #191B22;
}

.dropdown-menu >li > a {
	color: #ccc !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    	color: #ddd;
    	background-color: #282C37;
	background-image: none;
}

.open .dropdown-toggle.btn-default, .open .dropdown-toggle.btn-default:focus {
    color: #ccc;
    background-color: #191B22;
    border-color: #191B22;
}

.pmenu-item:hover a {
	background-color: #282C37 !important;
	color: #ddd;
}

.xdsoft_datepicker.active {
	color: #191B22 !important;
	text-decoration: none !important;
}

.xdsoft_datepicker.active:hover, .xdsoft_datepicker.active:focus {
	color: #191B22 !important;
	text-decoration: underline;
}

@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #282C37;
  }
}

#profile-jot-wrapper {
	background-color: inherit;
	border: none;
}

.nav-tabs.nav-justified {
	background-color: inherit;
	border: none;
}

.table-striped > tbody > tr:nth-of-type(2n+1), .table-hover > tbody > tr:hover {
	background-color: #191919;
}

.table > tbody > tr > td {
	border-color: #888;
}

.help-content {
	border-bottom: #191B22 thin solid;
}

.help-content-open {
  	-moz-box-shadow: 0px 3px 3px #191B22;
  	-webkit-box-shadow: 0px 3px 3px #191B22;
  	box-shadow: 0px 3px 3px #191B22;
}

.contextual-help-content-open {
	background: $nav_bg;
	border-bottom: #313543 1px solid;
	box-shadow: 0px 3px 3px rgba(85,85,85,0.2);
}

.contextual-help-tool {
	opacity: 0.5;
}

.contextual-help-tool:hover {
	opacity: 1;
}

.contextual-help-tool i {
	color: $link_colour;
}


.profile-match-wrapper {
	width: 150px;
	height: 120px;
	border: none;
}

.profile-match-name {
    	width: 144px;
    	white-space: nowrap;
    	text-overflow: ellipsis;
}

.widget-nav-pills-icons:hover + a {
	background-color: #191B22;
}

.widget-nav-pills-checkbox:hover + a {
	background-color: #191B22;
}

.wall-item-location {
font-size: 1.2em;
    letter-spacing: .08em;
}

.wall-item-content, .mail-conv-body, .page-body, .chat-item-text, .chat-item-text-self {
    font-size: 1em;
}



