/************************************************
Redbasic Scheme for Fanzilla by vamp@hub.vamp.ink

'port-gore' based on 'blue-fix'

Colours
-------
Dark: #372A56
Mid: #CDC3E6
Light: #E1DAF2
************************************************/


/* UPPING THE FONT SIZE BECAUSE REDBASIC FONT IS TEENY AF */
body {
    color: #404040;
font-size: medium;
background-color: #E1DAF2;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  
}
.wall-item-content, .mail-conv-body, .page-body, .chat-item-text, .chat-item-text-self {
    font-size: 1em;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  margin: .5em 0;
}

/* CUSTOM PAGE ELEMENTS */
.bg-dark /*navbar*/ {
  background-color: #372A56 !important;
} 

.widget,
.vcard {
background-color: transparent;
border: 0;}

.generic-content-wrapper,
.wall-item-content-wrapper {
background-color: #CDC3E6;
}

.section-title-wrapper,
.list-group-item {
background-color: #CDC3E6;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.wall-item-comment-wrapper,
.wall-item-outside-wrapper,
#wiki-nav-tabs .nav-link.active {
border: 1px solid #CDC3E6 !important;
    background-color: #CDC3E6 !important;
}

.hide-comments-outer,
.thread-wrapper,
.comment,
.page-content-wrapper,
.section-content-wrapper,
.wall-item-conv,
.panel div,
.section-content-wrapper-np {
background-color: #EBE3FC !important;
}

.section-subtitle-wrapper {
    background-color: #EBE3FC;
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.section-content-tools-wrapper {
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.back-bar {
  border: 3px solid rgba(0,0,0,.2);
}


/* BUTTON/FORM ONCLICK BORDER */
.btn-primary.focus,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus,
.form-control:focus {
 box-shadow:0 0 0 .2rem rgba(128,128,128,.5);
 border-color: #808080;
}

/* THIRD PARTY TAG */
.badge.badge-pill.badge-info {
  background-color: #372A56;
}

/* POST CATEGORY */
.item-category.badge.badge-pill.badge-warning {
  background-color: #E1DAF2;
}

/* LOCATION/FAKE MOOD/FAKE WHISPERSPACE */
.wall-item-location.p-location {
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
}

/* LINK, FAKELINK */
.fakelink,
a:link,
a:visited {
  color: #372A56;
    text-decoration: none;
}

.generic-content-wrapper a:link,
.wall-item-content-wrapper a:link {
font-weight: bold;
}

.tags .tag1 {
  color: #372A56 !important;
}

.fakelink:hover,
a:hover,
a:active {
  color: #372A56;
    text-decoration: underline;
}

.dropdown-item.active {
	background-color: #372A56 !important;
}

.wall-item-head-new {
	border-top: 0.2rem solid #372A56 !important;
}

.nav-link.active {
    background-color: #372A56 !important;
}

.nav-item:hover {
    text-decoration: underline;
}

.form-group.checkbox > div > input:checked + label .onoffswitch-switch {
    background-color: #372A56 !important;
}

.switchlabel:hover {
    border-color: #372A56 !important;
}

.form-group.checkbox:hover label {
    color: #372A56 !important;
    border-color: #372A56 !important;
}

.app-detail .app-icon,
.ivoted {
    text-shadow: none;
    color: #372A56;
}

.bg-primary {
    background-color: #372A56 !important;
}

.btn-primary {
    background-color: #372A56 !important;
    border-color: #372A56 !important;
    color: white !important;
}

.btn-danger,
.btn-success {
    color: white !important;
}

.btn-warning {
color: black !important;
}

.btn-outline-secondary a:hover {
    color: white !important;
}

.btn-outline-secondary:hover {
  background-color: #372A56;
}

.item-highlight {
    border-left: 0.2rem solid #372A56;
}

.wall-event-item {
    background-color: #372A56;
}

blockquote {
  border-color: #372A56;
  margin: 1em;
  padding: .5em 1em;
}

code {
  background-color: #E1DAF2;
}
