/************************************************
Redbasic Scheme for Fanzilla by vamp@hub.vamp.ink

**sugarcane**, based on blue-fix

Colours:
#4D7E4C - dark
#E6F2E6 - light
#F6FFF3 - almost white
************************************************/


/* UPPING THE FONT SIZE BECAUSE REDBASIC FONT IS TEENY AF */
body {
font-size: medium;
  background-color: #F6FFF3;
}
.wall-item-content, .mail-conv-body, .page-body, .chat-item-text, .chat-item-text-self {
    font-size: 1em;
}

/* CUSTOM PAGE ELEMENTS */
.bg-dark {background-color: #4D7E4C !important;} /*navbar*/

.widget,
.vcard {}

.generic-content-wrapper,
.wall-item-content-wrapper,
.section-subtitle-wrapper {
background-color: #E6F2E6;
}

.wall-item-comment-wrapper,
.wall-item-outside-wrapper {
background-color: #F6FFF3;
}

.hide-comments-outer,
.thread-wrapper,
.comment {
background-color: #F6FFF3;
}

.section-title-wrapper,
.theme-green .back-bar .selected-bar {
  background-color: #4D7E4C;
  color: #F6FFF3;
}

.text-muted,
.section-title-wrapper button {
  color: #E6F2E6 !important;
}

.section-title-wrapper .btn-outline-secondary {
  border-color: #E6F2E6 !important;
  color: #F6FFF3;
}

.section-title-wrapper .btn-outline-secondary:hover,
.section-title-wrapper .btn-outline-secondary:focus {
  background-color: rgba(0,0,0,.2);
}

#wiki-content-container .nav-item .active {
  color: #F6FFF3;
}

/* BUTTON/FORM ONCLICK BORDER */
.btn-primary.focus,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus,
.form-control:focus {
 box-shadow:0 0 0 .2rem rgba(128,128,128,.5);
 border-color: #E6F2E6;
}

/* THIRD PARTY TAG */
.badge.badge-pill.badge-info {
  background-color: #4D7E4C;
}

/* POST CATEGORY */
.item-category.badge.badge-pill.badge-warning {
  background-color: #F6FFF3;
}

/* LOCATION/FAKE MOOD/FAKE WHISPERSPACE */
.wall-item-location.p-location {
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
}

/* LINK, FAKELINK */
.fakelink,
a:link,
a:visited {
  color: #4D7E4C;
    text-decoration: none;
}

.fakelink:hover,
a:hover,
a:active {
  color: #4D7E4C;
    text-decoration: underline;
}

.dropdown-item.active {
	background-color: #4D7E4C !important;
}

.wall-item-head-new {
	border-top: 0.2rem solid #4D7E4C !important;
}

.nav-link.active {
    background-color: #4D7E4C !important;
}

.nav-item:hover {
    text-decoration: underline;
}

.form-group.checkbox > div > input:checked + label .onoffswitch-switch {
    background-color: #4D7E4C !important;
}

.switchlabel:hover {
    border-color: #4D7E4C !important;
}

.form-group.checkbox:hover label {
    color: #4D7E4C !important;
    border-color: #4D7E4C !important;
}

.app-detail .app-icon,
.ivoted {
    text-shadow: none;
    color: #4D7E4C;
}

.bg-primary {
    background-color: #4D7E4C !important;
}

.btn-primary {
    background-color: #4D7E4C !important;
    border-color: #4D7E4C !important;
    color: #F6FFF3 !important;
}

.btn-danger,
.btn-success {
    color: #F6FFF3 !important;
}

.btn-warning {
color: black !important;
}

.btn-outline-secondary a:hover {
    color: #F6FFF3 !important;
}

.item-highlight {
    border-left: 0.2rem solid #4D7E4C;
}

.wall-event-item {
    background-color: #4D7E4C;
}